.loginPage{
    display: flex;
   padding: 1%;
    margin-left: 7%;
}
.loginContentContainer{
    padding-left: 5rem;
}
#forgetContentHeading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    /* margin-top: 25%; */
    /* margin-left: 50%; */
    font-size: 2.5rem;
}
.loginPageContent{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1rem;
    
}
.inputForLogin{
    width:120%;
    padding-top: 0%;
    
}
.inputForLogin input{
    width: 76.7%;
    font-size: 0.7rem;
  padding: 3%;
  border: 1px solid black;
  border-radius: 6px;
}
.rememberMe{
display: flex;
}

#ForgetPasswordText{
    font-size: 1rem;
    padding-left: 5rem;
}
#SignInButton{
     background-color: #946CC3;
    width:20rem;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
}
a{
 text-decoration-line: none;
}

@media screen and (max-width: 500px) {
    .loginPage{
        display: flex;
        flex-direction: column;
       
    }
    
    
  }